@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root {
    --app-color: #38a8e8;
    --primary-color: #d4d4d4;
    --secondary-color: white;
    --third-color: #f2f2f2;
    --text-color: #1a1a1a;
}

.dark-mode {
    --primary-color: #1a1a1a;
    --secondary-color: #0c0c0c;
    --third-color: #2d2d2d;
    --text-color: white;
}

body {
    background: var(--secondary-color);
}

* {
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: var(--text-color);
    transition: all 0.5s ease;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

button:hover {
    cursor: pointer;
    filter: brightness(0.8);
}

.mt-2 {
    margin-top: 2rem;
}